* body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}
.banar {
  background-image: url(/public/image/Hero-bg.png);
  /* max-width: 1440px; */
  max-height: 652px;
  background-repeat: no-repeat;
  padding: 26px 0 44px 0;
  margin-top: 50px;
  background-size: cover;
}
.img {
  display: flex;
  justify-content: center;
}
.title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
  max-width: 998px;
  margin: 0 auto;
}
.description {
  color: gray;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.black_btn {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background-color: black;
  display: inline;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.btn a {
  text-decoration: none;
}
.btn_1 {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid;
}
.web_dev_section {
  max-width: 1140px;
  margin: 78px auto;
  padding: 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.web_dev_title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 24px;
}
.web_dev_dis {
  color: gray;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 48px;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 48px;
}
.cards {
  display: flex;
  flex-direction: row-reverse;
  padding: 48px;
}
.card_title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
  max-width: 390px;
}
.card_descp {
  color: gray;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}
.border_btn {
  border: 1px solid gray;
  display: inline;
  padding: 10px;
  cursor: pointer;
}
.card_info {
  flex-basis: 60%;
}
.card_img {
  flex-basis: 30%;
}
.my_current_title,
.my_inspiration_title {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}
.my_current_des,
.my_inspiration_desc,
.support_section_des {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 48px;
  max-width: 852px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.my_inspiration_section {
  /* max-width: 852px; */
  margin: 0 auto;
}
.video_section {
  margin: 0 auto;
  padding: 15px;
  border: 1px solid rgb(56, 55, 55);
  max-width: 560px;
  border-radius: 8px;
  margin-bottom: 140px;
}
.ytp-cued-thumbnail-overlay-image {
  border-radius: 20px !important;
}
.current_card_item {
  padding: 40px;
  max-width: 364px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.my_current_card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.blue_bg {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.current_card_title {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
}
.current_card_decs {
  color: gray;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}
.learn_more a {
  color: black;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.learn_more a:hover {
  color: black;
}
.my_current_section {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.support_section {
  max-width: 1140px;
  max-height: 314px;
  margin: 0 auto;
  background-image: url(/public/image/handshake.jpg);
  padding: 64px 48px;
  border-radius: 10px;
  margin-bottom: 80px;
  background-position: center;
}
.support_section_title {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.color_white {
  color: white;
}
input {
  padding: 15px;
  width: 548px;
  border-radius: 8px;
  border: none;
}
.submit {
  display: inline;
  border: 1px solid;
  padding: 16;
  padding: 13px;
  background: white;
  border: none;
  border-radius: 8px;
}
.input_section {
  display: flex;
  justify-content: center;
  gap: 16px;
}

body:focus-visible {
  outline: none;
}
.footer {
  border-radius: 16px;
  padding: 16px 150px;
  /* margin: 0 150px; */
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  justify-content: space-between;
}
p {
  margin: 0;
}
.social_media{
  display: flex;
  gap: 16px;
}
