* body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}
.banar {
  background-image: url(/assets/Hero-bg.png);
  /* max-width: 1440px; */
  max-height: 652px;
  background-repeat: no-repeat;
  padding: 26px 0 44px 0;
  margin-top: 50px;
  background-size: cover;
}
.img {
  display: flex;
  justify-content: center;
}
.title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 32px;
  max-width: 998px;
  margin: 0 auto;
}
.description {
  color: gray;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.black_btn {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background-color: black;
  display: inline;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.btn_1{
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border:1px solid
}
.web_dev_section {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 97px;
}
.web_dev_title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
  margin-bottom: 24px;
}
.web_dev_dis {
  color: gray;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 48px;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 48px;
}
.cards{
    display: flex;
    flex-direction: row-reverse;
    padding: 48px;
}
.card_title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
  max-width: 390px;
}
.card_descp {
  color: gray;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}
.border_btn {
  border: 1px solid gray;
  display: inline;
  padding: 10px;
  cursor: pointer;
}
.card_info {
  flex-basis: 60%;
}
.card_img {
  flex-basis: 30%;
}
